*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/Anther/lib/site-packages
/Anther/launch.json
/Anther/anther_core/settings.py
/Anther/anther_core/localsettings.py
#src
*.sqlite*

.env
