/* HTML styles */
html {
  width: 100%;
}

/* SVG styles */
svg {
  flex-basis: 90%;
  min-width: 200px;
}
.links line {
  stroke: #aaa;
}
.nodes circle {
  pointer-events: all;
  fill: #7b904b;
  stroke: #e6caf5;
}

.nodes circle:hover {
  pointer-events: all;
  stroke: #58641d;
}

.node-label{
  fill: 'black';
  opacity: 1;
}

body .rtnBtn {
  background-color: none;
  border: none;
  color: black;
}

#animation-container {
  height: auto;
}

#animation-frame {
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
  font-size: 75%;
  margin: auto;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/mesh-gradient.png");
  background-size: cover;
  background-position: center;
  /* background-color: #d9afd9; */
  /* background-image: linear-gradient(12deg, #D9AFD9 10%, #9c70e8 50%, #2f4bec 75%, #47eebc 88%); */
  z-index: -1;
}

#home-card {
  background-color: transparent;
  border: none;
}

#engage {
  border-radius: 10px;
  background: #e3ccd5;
  box-shadow: 5px 5px 15px #b8919f, -5px -5px 15px #f8c4d7;
  border: none;
}
#engage:hover {
  border-radius: 10px;
  background: #f1dbe3;
  box-shadow: inset 5px 5px 15px #b8919f, inset -5px -5px 15px #f8c4d7;
  border: none;
}

#spiel {
  font-family: 'Rubik', sans-serif;
}

/* Playlist Nodes */
.playlist {
  fill: #273b09;
}

.playlist:hover {
  stroke: #002400;
  stroke-width: 0.5%;
}

.anther {
  position: fixed;
  color: #ffc170;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  font-style: italic;
  margin-left: 93%;
}

#ticker-container {

  left: 0;
  bottom: 0;
  width: 100%;

}

/* 
Playlist: name, playlister, match, followers

Put a scale for the match - under a questionmark (confused emoji)

Song: 
Query song to be a different color

on hovering over a song
on clicking a song, the other nodes grey out. 

"ANTHER" bottom right
*/
