<div id="animation-container">
    <img id="animation-frame" src="" />
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const container = document.getElementById("animation-container");
    const frameElement = document.getElementById("animation-frame");
    let frames = [];
  
    // Make an AJAX request to get the frame filenames
    $.ajax({
      url: '/loading/',
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        frames = data;
  
        let currentFrame = 0;
  
        function playAnimation() {
          frameElement.src = frames[currentFrame];
          currentFrame = (currentFrame + 1) % frames.length; // Loop frames
  
          // Call the function again after a certain delay (e.g., 100ms)
          setTimeout(playAnimation, 100);
        }
  
        // Start the animation
        playAnimation();
      },
      error: function(error) {
        console.log(error);
      }
    });
  </script>
  