<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANTHER</title>
    {% include 'nav.html' %}

<body>
<script src="https://unpkg.com/@babel/polyfill@7/dist/polyfill.min.js"></script>
<div id="root"></div>
<script src="/static/js/bundle2.js"></script>
<!-- {% load react %} -->
<!-- <script>
  document.addEventListener('DOMContentLoaded', () => {
  
    ReactDOM.render(
      React.createElement(HelloWorld, null),
      document.getElementById('root')
    )
  
  })  
  </script> -->
  

  
  <!-- {% react_render component='HelloWorld' props='{"name": "John"}' %} -->


</body>
</html>
