<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANTHER</title>
    <!-- Add your CSS stylesheets or external stylesheets here -->
  
  </head>
  <body>
        <!-- Include the nav_bar.html template at the top -->
        {% include 'nav.html' %}
<!-- search.html -->
<div class="container text-center" style="margin-top: 100px;">
    <div class="row">
        <div class="col-lg">
            <div id="animation-container" title="F.K.A. Playlitics">
                <img id="animation-frame" src="/static/images/animation_frames/anther_frame__0000_frame-1.png" style="width: 50%;"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg" style="margin-left: 18%; margin-top: 50px;">
            <div class="input-group" style="width: 80%;">
                <input type="text" class="form-control" id="search-input" aria-label="Text input with segmented dropdown button" placeholder="Search Song">
                <button type="button" class="btn btn-outline-secondary" id="searcher">Search</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#" data-search-type="track">Search Song</a></li>
                    <li><a class="dropdown-item" href="#" data-search-type="artist">Search Artist</a></li>
                    <li><a class="dropdown-item" href="#" data-search-type="playlist">Search Playlist</a></li>
                    <li><a class="dropdown-item" href="#" data-search-type="thicc">Search Playlist THICC</a></li>
                </ul>
            </div>
            <div id="playlistCheckboxWrapper" style="display: none;">
                <input type="checkbox" id="contactablePlaylistCheckbox"> Contactable Playlists only
            </div>
            
            <div id="search-results" style="text-align: left;"></div>
            <div id="loading-container">
            <div id="loading-spinner" class="d-none justify-content-center align-items-center" style="height: 100px; margin-top: 50px; margin-right: 200px;">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>

                  </div>
                  
            </div>
            <!-- <div id="digram-animation-container" title="meditation">
                <img id="diagram-animation-frame" src="" style="height: 500px; width: 500px; margin-right: 100px;"/>
              </div> -->
        </div>
    </div>
</div>


<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>

<script>
    const diagram_container = document.getElementById("diagram-animation-container");
    const diagram_frameElement = document.getElementById("diagram-animation-frame");
    let diagram_frames = [];
  
    // Make an AJAX request to get the frame filenames
    $.ajax({
      url: "/loading_diagram/",
      type: "GET",
      dataType: "json",
      success: function (data) {
        diagram_frames = data;
  
        let diagram_currentFrame = 0;
  
        function playAnimation() {
          diagram_frameElement.src = diagram_frames[diagram_currentFrame];
          diagram_currentFrame = (diagram_currentFrame + 1) % diagram_frames.length; // Loop frames
  
          // Call the function again after a certain delay (e.g., 100ms)
          setTimeout(playAnimation, 100);
        }
  
        // Start the animation
        playAnimation();
      },
      error: function (error) {
        console.log(error);
      },
    });
  </script>
<!-- Your custom JavaScript -->
<!-- <script>
    const container = document.getElementById("animation-container");
    const frameElement = document.getElementById("animation-frame");
    let frames = [];

    // Make an AJAX request to get the frame filenames
    $.ajax({
      url: "/loading/",
      type: "GET",
      dataType: "json",
      success: function (data) {
        frames = data;

        let currentFrame = 0;

        function playAnimation() {
          frameElement.src = frames[currentFrame];
          currentFrame = (currentFrame + 1) % frames.length; // Loop frames

          // Call the function again after a certain delay (e.g., 100ms)
          setTimeout(playAnimation, 170);
        }

        // Start the animation
        playAnimation();
      },
      error: function (error) {
        console.log(error);
      },
    });
  </script> -->
<script>
    $(document).ready(function () {

        // Set the initial search category to "track"
        var searchCategory = "track";
        // Function to change the placeholder and search category based on the selected dropdown item
        function changePlaceholderAndCategory(item) {
            var newPlaceholder = item.text();
            searchCategory = item.data('search-type');
            $("#search-input").attr("placeholder", newPlaceholder);
            selectedDropdownItem = item;
        }

        function toggleCheckboxVisibility() {
        const playlistCheckboxWrapper = $("#playlistCheckboxWrapper");

        if (searchCategory === "playlist") {
            // playlistCheckboxWrapper.attr("style","display: block");
            playlistCheckboxWrapper.attr("style","margin-left: -80.5%; margin-top: 2%");
        } else {
            playlistCheckboxWrapper.attr("style","display: none");
        }
    }
    
        // Listen for the click event on dropdown items
        $(".dropdown-item").on("click", function () {
            changePlaceholderAndCategory($(this));
            toggleCheckboxVisibility();
        });

        // Add event listener to the checkbox to change the search type when checked
        const contactablePlaylistCheckbox = $("#contactablePlaylistCheckbox"); // Use jQuery to select the checkbox

        contactablePlaylistCheckbox.on("change", function () {
            const playlistDropdownItem = $("a[data-search-type='playlist']"); // Select the specific playlist dropdown item

            if (this.checked) {
                searchCategory = "contactable-playlist"
            } else {
                searchCategory = "playlist"
            }
        });

        // Function to handle the search request
        function performSearch() {
        $('#search-results').empty();
        // Show the loading spinner
        $('#loading-spinner').removeClass('d-none');
            var query = $("#search-input").val();
            // Send the query and search category to your Django view using AJAX
            // The Django view will then use the corresponding class from spotipy_functions.py based on the search category
            // Display the search results on the page
            $.ajax({
                type: 'GET',
                url: '/search/results',
                data: {
                    query: query,
                    search_category: searchCategory
                },
                success: function (data) {
                    // Hide the loading spinner
                    $('#loading-spinner').addClass('d-none');
                    // Clear previous search results
                    console.log(data[0])

                    function generateListItem(result) {
                        if (searchCategory === 'playlist') {
                            // For playlist, create anchor elements with links
                            var listItem = $('<li>').css({
                                'display': 'flex',          // Use flexbox to align elements horizontally
                                'align-items': 'center'    // Align items vertically within the flex container
                            });
                            var link = $('<p>').text(result[0] + " - " + result[1]);
                            var url = '/get_tracklist/?name=' + encodeURIComponent(result[0]);
                            var button = $('<button>')
                            .attr('class', 'btn btn-outline-light btn-sm playlist-button')
                            .attr('type', 'button')
                            .click(function() {
                                var playlistName = encodeURIComponent(result[0]);
                                $.ajax({
                                    type: 'GET',
                                    url: `/get_tracklist/?name=${playlistName}`,
                                    success: function(graphData) {

                                        var svg = d3.select("body")
                                            .append("svg")
                                            .attr("width", "100%")
                                            .attr("height", "100%");
                                        // Call your D3.js visualization functions with graphData
                                        initializeButton();
                                        plID = d3.select(this).attr("id");
                                        nom = d3.select(this).data()[0].name
                                        console.log(plID);

                                        // Assuming you have a function called 'initializeDisplay' and 'initializeSimulation'
                                        // to visualize the graph_data and initialize the simulation
                                        
                                        initializeSimulation(graph_data);
                                        initializeDisplay(plID, nom, graph_data);
                                        initializeForces(graph_data);
                                                        },
                                    error: function(error) {
                                        console.error("Error fetching graph data:", error);
                                    }
                                });
                                });
                            var icon = $('<img>').attr('src', '/static/images/icons/network-icon.png')
                            .attr('alt', 'Network Icon')
                            .css({
                                'height': '20px',
                                'width': '20px',
                            });
                            button.append(icon);
                            button.css({
                                'vertical-align': 'middle',  // Align the button with the text vertically
                                'margin-left': '10px',
                                'margin-bottom': '15px',
                                  // Add some space between the text and the button
                            });
                             // Set the link to the desired path
                            link.attr('class','playlist-link')
                            listItem.append(link);
                            listItem.append(button);
                            return listItem;
                        } else {
                            // For other categories, create regular list items
                            return $('<li>').text(result[0] + " - " + result[1]);
                        }
                    }


                    // Check if there are search results
                    if (data.length > 0) {
                        // Add the title
                        $('#search-results').append('<h3 id="search-results-title">Search Results:</h3>');

                        // Create an unordered list for the search results
                        var searchResultsList = $('<ul></ul>');

                        // Iterate through the search results and add each item to the list
                        for (var i = 0; i < data.length; i++) {
                            var result = data[i];
                            var listItem = generateListItem(result); 
                            searchResultsList.append(listItem);
                        }

                        // Add the search results list to the div
                        $('#search-results').append(searchResultsList);
                    } else {
                        // If there are no search results, display a message
                        $('#search-results').append('<p>No search results found.</p>');
                    }
                },
                error: function () {
                    // Handle error if necessary
                    // Hide the loading spinner
                    $('#loading-spinner').addClass('d-none');
                }
            });
        }

        // Listen for the click event on the search button
        $("#searcher").on("click", function () {
            performSearch();
        });

        // Listen for the Enter key press in the search input field
        $("#search-input").on("keypress", function (event) {
            if (event.keyCode === 13) {
                performSearch();
            }
        });

        $(document).on("click", ".playlist-link", function () {
            $('#search-results').empty();
            $('#loading-spinner').removeClass('d-none');
        });
    });
</script>
<script src="/static/js/cola.js"></script>

  </body>
</html>